.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.standard-width {
  width: 80%;
  margin-left: 10%;
  opacity: .9;
}

.example-h2 {
  margin: 10px;
}

form {
  margin: 10px;
}

.search-field {
  width:25%
}
.cart {
  width:75%
}

mat-card {
  
}