<h4>Request List</h4>
<table mat-table matSort  [dataSource]="requestList" class="mat-elevation-z8">

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
    <td mat-cell *matCellDef="let request">{{ request.date | date }}</td>
  </ng-container>

<ng-container matColumnDef="title">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>Request</th>
  <td mat-cell *matCellDef="let request">
    <ul>
      <li *ngFor="let movie of request.movies">{{ movie.title }}</li>
   </ul>
       <!--<button mat-button [matMenuTriggerFor]="menu">View</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let movie of request.movies">{{ movie.title }}</button>
      </mat-menu>-->
  </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>