<mat-toolbar class="mat-toolbar mat-primary mat-toolbar-single-row mat-elevation-z8" color="primary">
  <a routerLink="/search">
    <button mat-button *ngIf="authService.userDetails">Search</button>
  </a>
  <a routerLink="/requests">
    <button mat-button *ngIf="authService.userDetails">My Requests</button>
  </a>
  <span class="spacer"></span>
  <app-auth class="auth-button"></app-auth>
  <button mat-button *ngIf="authService.userDetails" (click)="openCart()">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  
</mat-toolbar>
