.example-card {
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
